{% load static %} {% block sidebar %}
    <!-- ========== Left Sidebar Start ========== -->
    <div class="vertical-menu">
      <div data-simplebar class="h-100">
        <!--- Sidemenu -->
        <div id="sidebar-menu">
          <!-- Left Menu Start -->
          <ul class="metismenu list-unstyled" id="side-menu">
            <li class="menu-title" key="t-menu">Menu</li>

            <li>
              <a href="{% url 'dashboard' %}" class="waves-effect">
                <i class="bx bx-home-circle"></i>
                <span key="t-dashboards">Dashboards</span>
              </a>
            </li>

            <li>
              <a href="{% url 'survey' %}" class="waves-effect">
                <i class="bx bx-layout"></i>
                <span key="t-layouts">All Survey</span>
              </a>
            </li>

            <li>
              <a href="{% url 'survey-form' %}" class="waves-effect">
                <i class="bx bx-layout"></i>
                <span key="t-layouts">Survey Form</span>
              </a>
            </li>

          </ul>
        </div>
        <!-- Sidebar -->
      </div>
    </div>
    <!-- Left Sidebar End -->
{% endblock %}
